body {
  margin: 0;
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
  font-family: sans-serif;
  background-image: url(/multable.github.io/resources/images/background.jpg);
}

.popover{
    max-width: 100%;
}